@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
$font-figtree: "Figtree", sans-serif;

$primary-red: #da1c23;
$secondary-red: #e61326;
$dark-blue: #2f5b98;
